# OS Specific
.DS_STORE

# IDE
.idea/
.vim/
.vscode/

# Commonly created dirs when testing
tags

# Dependency Management
node_modules
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/versions
!.yarn/patches
.pnp.*

# Build tooling
.fe-infra-cache

# Build artifacts
artifacts/

# Transient files
npm-debug.log.*
yarn-error.log
pacts/
logs/
app/__spec__/
